# Since the ".env" file is gitignored, you can use the ".env.example" file to
# build a new ".env" file when you clone the repo. Keep this file up-to-date
# when you add new variables to `.env`.

# This file will be committed to version control, so make sure not to have any
# secrets in it. If you are cloning this repo, create a copy of this file named
# ".env" and populate it with your secrets.


# State the current work environment ("development" or "production")
NODE_ENV="development"

# Amazon Simple Email Service (AWS SES)
# https://docs.aws.amazon.com/IAM/latest/UserGuide/id_users_create.html
#  - We require a user with "AmazonSESFullAccess" permissions policies
AWS_ACCESS_KEY_ID=""
AWS_SECRET_ACCESS_KEY=""

# Upstash
# https://docs.upstash.com/redis
#  - We use a Redis database on Upstash to handle rate limiting on our API routes
#  - These values are obtained from the "REST API" widget group on our database 
#    dashboard (under "Connect to your database")
UPSTASH_REDIS_REST_URL=""
UPSTASH_REDIS_REST_TOKEN=""

# Public Values
#  - "NEXT_PUBLIC_RESUME" will be a link to your resume
#  - "NEXT_PUBLIC_EMAIL" is the email you want to people to directly contact you at
NEXT_PUBLIC_RESUME=""
NEXT_PUBLIC_EMAIL=""
