@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --blur-gradient: linear-gradient(
    to right bottom,
    rgb(0 0 0 / 0.8) 50%,
    transparent
  );
  --blur-gradient-from-bottom: linear-gradient(
    to top,
    rgb(0 0 0 / 0.9) 2.5%,
    transparent
  );
}

@layer components {
  .gradient-primary {
    @apply from-pg-start from-10% to-pg-to to-90%;
  }

  .gradient-primary-text {
    @apply gradient-primary bg-gradient-to-r bg-clip-text text-transparent;
  }
}

@layer utilities {
  /* Custom Scrollbar */
  .scrollbar::-webkit-scrollbar {
    height: 7px;
    width: 7px;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 1rem;
    background: hsl(228 2% 45%);
  }

  .scrollbar::-webkit-scrollbar-thumb {
    border-radius: 1rem;
    background: hsl(0 0% 75%);
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: hsl(0 0% 94%);
  }
}
